$base-font-size: 16px;
$base-font-family: 'Poppins';
$base-font-color: #000000;
$first-color: #3A4574;
$first-hover-color: #2f3861;
$first-active-color: #272e50;
$grey-background:#646464;
$light-color: #ffffff;
$second-color: #d3b47f;
$grey-e7: #e7e7e7;










$dark-background: #202020;
$light-text: #ffffff;
$grey-text: #cacaca;
$hover-color: #ff6e30;
$focus-background: #bc572b;
$active-color: #ce4307;
$btn-color: #ff6e30;
$form-text: #999999;
$error-color: #ff3030;
